.product-container {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: fit-content;
    padding: 0px;
    margin-bottom: 5px;
    align-items: center;
}
.product-image {
    width: 100%;
    max-height: 250px;
    object-fit: fill;
    -webkit-user-drag: none;
}
.product-name {
    font-size: 14px;
    color: darkslategrey;
    text-transform: uppercase;
}
.price {
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 3px solid green;
}
.button:hover {
    background-color: #eee;
}
.button:active {
    position: relative;
    top: 1px;
}
