.checkout-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 40px;
    flex-wrap: wrap;
    margin-top: -20px;
    align-self: center;
    align-items: center;
}
.divider-green {
    height: 30px;
    width: 100%;
    border-top: 3px solid green;
    margin-top: 10px;
}

@media(max-width: 400px){
    .checkout-container {
        padding: 0px;
    }
} 
