.cart-summary {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.payment-total {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 18px;
    
}
.product-summary {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.secondary-text {
    color: gray;
}
.separate {
    height: 60px;
    width: 100%;
    display: block;
}